* {
    text-transform: capitalize;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: hsl(221, 100%, 96%);
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.result,
.summary {
    height: 460px;
    display: flex;
    border-radius: 18px;
}

.result {
    width: 350px;
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    transform: translateX(20px);
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.summary {
    background-color: white;
    width: 400px;
}

.circle-one {
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 180px;
    height: 180px;
    border-radius: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .result>p {
    padding: 15px;
}

.container .result .circle-one h1 {
    margin: 0;
    color: white;
    font-weight: 800;
    font-size: xxx-large;
    margin-top: 10px;
}

.container .result .circle-one p {
    margin: 10px;
    color: white;
}

.score {
    width: 230px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score h1 {
    padding-top: 25px;
    margin: 10px;
    color: white;
}

.Light-lavender {
    color: hsl(241, 100%, 89%);
}

.score p {
    margin: 0;
}

.container-summary {
    padding: 15px 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.stat,
a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 10px;
    margin: 5px;
}

.Continue {
    margin-top: 25px;
    background-color: #313C5B;
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 40px;
}

.color {
    color: black;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .result,
    .summary {
        width: 100%;
        transform: none;
    }
}