* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container {
    width: 1000px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsla(0, 0%, 100%, 0.75);
}

.Sedans {
    width: calc(100% / 3);
    height: inherit;
    background-color: hsl(31, 77%, 52%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.title {
    font-size: xx-large;
    font-weight: 700;
}

.discreption {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
}

.Learn-More {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
}

.SUVs {
    width: calc(100% / 3);
    height: inherit;
    background-color: hsl(184, 100%, 22%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}

.Luxury {
    width: calc(100% / 3);
    height: inherit;
    background-color: hsl(179, 100%, 13%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Learn-More:hover {
    border: 1px solid white;
    background-color: transparent;
    color: white !important;
}



/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .container {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Sedans,
    .SUVs,
    .Luxury {
        width: 100%;
    }

    .Sedans {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .Luxury {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}
