* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-color: hsl(0, 0%, 8%);
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    background-color: hsl(0, 0%, 12%);
    width: 400px;
    height: 550px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

img {
    padding: 20px;
    border-radius: 120px;
    width: 90px;
    height: 90px;
}

.first {
    margin: 0;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: x-large;
}

.second {
    margin: 5px;
    color: hsl(75, 94%, 57%);
    font-size: 12px;
    font-weight: 500;
}

.third {
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

a {
    background-color: hsl(0, 0%, 20%);
    width: 350px;
    height: 40px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}



a:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}

@media (max-width: 450px) {
    .container {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    a {
        width: 100%;
    }
}
td{
    padding: 0;
}