* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: hsl(225, 100%, 94%);
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    width: 100%;
}

.description {
    color: hsl(224, 23%, 55%);
    margin-bottom: 20px;
}

.container {
    background-color: white;
    width: 430px;
    height: 600px;
    margin-bottom: 25px;
    border-radius: 15px;
    background-size: contain;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.details {
    text-align: center;
    padding: 15px;
    width: 100%;
    max-width: 340px;
}

.title,
p {
    margin-bottom: 15px;
}

.sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    padding: 10px;
    margin-top: 25px;
    border-radius: 10px;
}

.left,
.right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.proceed {
    background-color: hsl(245, 75%, 52%);
    margin: 25px 0;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
}

.cancel a {
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-size: 12px;
    font-weight: 800;
}

.proceed:hover,
.right:hover {
    opacity: 0.7;
}

.cancel a:hover {
    color: black;
}

/* Responsive Design */
@media (max-width: 430px) {
    .container {
        width: 90vw;
        height: auto;
        min-width: 300px;
        max-width: 375px;
        padding: 16px 0;
    }
    .details {
        max-width: 90vw;
        padding: 10px;
    }
    body {
        background-image: url("./images/pattern-background-mobile.svg");
        background-size: cover;
        padding: 0;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 500px;
        width: 100%;
        height: 650px;
    }
    body {
        background-size: contain;
    }
}
