* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    max-width: 600px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 300px;
    height: auto;
    object-fit: cover;
}

.details {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.category {
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    letter-spacing: 3px;
    font-size: 12px;
}

.title {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    color: hsl(212, 21%, 14%);
    line-height: 1.1;
}

.description {
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    line-height: 1.5;
}

.price-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.current-price {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
}

.old-price {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-size: 14px;
}

.cart-button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease;
}

.cart-button:hover {
    background-color: hsl(158, 42%, 18%);
}

.cart-icon {
    width: 15px;
    height: auto;
}