* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(244, 37%, 16%);
    width: 90vw;
    max-width: 1000px;
    min-width: 320px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
}


.details {
    width: 50%;
    min-width: 0;
    height: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-family: "Inter", sans-serif;
    font-size: xx-large;
    font-weight: 800;
    font-style: normal;
    margin: 20px;
}

.describe {
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 30px;
    margin-left: 20px;
}

.num {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 45px;
    margin-left: 20px;
    text-transform: uppercase;
    font-family: "Lexend Deca", sans-serif;
}

.num p {
    font-weight: 700;

}

.triplz {
    color: hsla(0, 0%, 100%, 0.6);
    font-weight: 400;
    font-size: small;
}

.image-container {
    position: relative;
    width: 50%;
    min-width: 0;
}
/* Responsive styles */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        width: 95vw;
        max-width: 420px;
        min-width: 320px;
        top: 0;
        left: 0;
        transform: none;
        margin: 32px auto;
        position: static;
    }
    .details, .image-container {
        width: 100%;
        min-width: 0;
    }
    .details {
        padding: 32px 20px 24px 20px;
    }
    .image-container {
        order: -1;
        height: 240px;
        max-height: 240px;
    }
    .image-container img {
        height: 100%;
        min-height: 180px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 98vw;
        max-width: 375px;
        margin: 16px auto;
    }
    .details {
        padding: 20px 10px 16px 10px;
    }
    .image-container {
        height: 180px;
        max-height: 180px;
    }
    .title {
        font-size: 1.3rem;
        margin: 10px 0;
    }
    .describe {
        font-size: 14px;
        margin-left: 0;
    }
    .num {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding-right: 0;
        margin-left: 0;
    }
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(277, 64%, 61%);
    opacity: 0.6;
    pointer-events: none;
}
