* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color:hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    max-width: 600px;
    height: 550x;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.details {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description {
    color: hsl(215, 51%, 70%);
}

.avatar {
    display: flex;
}

.avatar-img {
    border-radius: 50%;
border: 1px solid white ;
object-fit: cover;
margin-right: 10px;
}

p {
    font-size: 18px;
}

.eth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eth-left,.timer {
    display: flex;
    align-items: center;
    gap: 5px;
}

hr {
  border: none;
  height: 1px;
  background-color: hsl(215, 51%, 70%);
}

.Jules , .title{
    text-decoration: none;
    color: white;
}

.Jules:hover, .title:hover {
    color: hsl(178, 100%, 50%) !important ;
}

.image-container {
  position: relative;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.equilibrium {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: hsla(178, 100%, 50%, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-icon {
  width: 50px;
  height: 50px;
}

.image-container:hover .overlay {
  opacity: 1;
}
